@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');
body  {
    font-family: Montserrat;
    background:#000b14;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    background-color:#000b14;
    position: relative;
    height: 10%;
}
.lista{
    text-align: center;
    position: relative;
    margin-right: 15px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.lista li {
    display: inline;
    position: relative;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
}
.lista a {
    text-decoration: none;
    font-size: 20px;
    color: #f5fbff;
}
.lista :hover{
    color: #016ae0;
    cursor: pointer;

}
p a {    
    text-decoration: none;
    color: #f5fbff;
}
p :hover{
    color: #000b14;
    cursor: pointer;
}

table {
    
    margin-top: 30px;
    
    margin-left: 10px;
    width: 100%;
    border-collapse: collapse;
    background-color: #5fa4b4;
  }

  th, td {
    
    text-align: left;
    color: white;
  }
  td{
    padding: 5px;
  }
  th {
    background-color:#000b14 ;
   
  }

  tr:nth-child(even) {
    background-color: #406a74;
  }

  #listarBtn, #previousPageBtn, #nextPageBtn{
    background-color: #406a74;
    color: white;
    border-radius: 5px;
   

    margin:10px;
    margin-top: 15px;
  }

  #listarBtn:hover{
    background-color: #5fa4b4;
    color: white;
    cursor: pointer;
  } 
  .editBtn{
    background-color: gray;
    color: white;
    border-radius:7px;
    cursor: pointer;
  }

  .tituloProduto {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    background-color:#5fa4b4;
    border-radius: 10px;
  }
  
  .tituloInfo {
    font-weight: bold;
    margin: 0 1rem;
    padding: 0.9rem 2rem;
    color: #fff;
    border: none;
  }

  .ti-dir {
    cursor: pointer;
  }
  .ti-dir a {
    text-decoration: none;
    color: white;    
    font-weight: bold;
  }
  .ti-dir a:hover {
    text-decoration: none;
    color: #000b14;  
  }
